<% link_to post, class: 'post' do %>
  <h2 class='post--title'><%= post.data.title %></h2>
  <img src='/images/posts/<%= post.data.image %>' alt='<%= post.data.title %>' class='post--image' />
<% end %>